<!-- Services Section -->
<section id="services" class="category-block">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">
        
        <div class="row login-block">

          <div class="col-sm-12">
            <h3 class="text-center">Reset your password</h3>
            
            <br />
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>

              <div class="form-group">
                  <input type="password" name="password" formControlName="password" placeholder="Password" class="form-control">
                  <small *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched" class="text-danger">Password is required!.</small>
                
                </div>

             <div class="form-group">
                    <input type="password" name="confirm_password" formControlName="confirm_password" placeholder="Confirm Password" class="form-control">
                   <small *ngIf="resetPasswordForm.controls['confirm_password'].hasError('required') && resetPasswordForm.controls['confirm_password'].touched" class="text-danger">Confirm password is required!.</small>
                   <small *ngIf="resetPasswordForm.controls['confirm_password'].touched && (resetPasswordForm.controls['password'].value != resetPasswordForm.controls['confirm_password'].value )" class="text-danger">Password & confirm passowrd should be matched.</small>
                  </div>

              <div class="row">

                <div class="col-sm-12">
                  <p class="text-left">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetPasswordForm.valid">Reset Now</button>
                  </p>
                </div>
              </div>


            </form>

          </div>



        </div>

      </div>

    </div>
  </div>
</section>