
<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Categories</h2>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-3" *ngFor="let category of categories; let i = $index;">
                    <span class="img-responsive">
                        <a class="page-scroll" [routerLink]="['/catalog/products']">
                        <img src="{{category.image}}" title="{{category.name}}"> 
                        </a>
                    </span>
                    <h4 class="service-heading">
                        <a class="page-scroll" [routerLink]="['/catalog/products']">
                            {{category.name}}
                        </a>
                    </h4>
                    <p class="text-muted">{{category.description}}</p>
                </div>
        
            </div>
        </div>
    </section>