<!-- Services Section -->
<section id="services" class="category-block">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Don't you have a <a class="default-color" [routerLink]="['/home']">NG2 BoilerPlate</a> Account ? <a [routerLink]="['/account/signup']">Please Register.</a> (It's FREE) </p>

        <div class="row login-block">

          <div class="col-sm-5 left-block">
            <h3>Sign in with Facebook</h3>
            <p>Use Facebook to Sign in To NG2 BoilerPlate</p>
            <barrat-facebook></barrat-facebook>
          </div>

          <div class="col-sm-7 right-block">
            <h3>Sign in with NG2 BoilerPlate</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <input type="text" name="email" formControlName="email" placeholder="Email" class="form-control">
                <small *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="text-danger">Please Enter your Valid email address.</small>
                
                <p class="text-right"><a [routerLink]="['/account/forgot-password']">Forgot Password?</a></p>
              </div>

              <div class="form-group">
                  <input type="password" name="password" formControlName="password" placeholder="Password" class="form-control">
                  <small *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="text-danger">Password is required!.</small>
                  
              </div>


              <div class="row">
                <div class="col-sm-9">
                  <p class="text-left">Don't have an Account? <a class="default-color" [routerLink]="['/account/signup']">Register</a></p>
                </div>
                <div class="col-sm-3">
                  <p class="text-right">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                  </p>
                </div>
              </div>


            </form>

          </div>



        </div>

      </div>

    </div>
  </div>
</section>