<!-- Services Section -->
<section id="services" class="category-block">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Don't you have a <a class="default-color" [routerLink]="['/home']">NG2 BoilerPlate</a> Account ? <a [routerLink]="['/account/signup']">Please Register.</a> (It's FREE) </p>

        <div class="row login-block">

          <div class="col-sm-12">
            <h3 class="text-center">Forgot your password?</h3>
            <p class="text-center">Please enter the email address you signed up with and we'll send you a password reset link.</p>
            <br />
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>

              <div class="form-group">
                <input type="text" name="email" formControlName="email" placeholder="Email" class="form-control" required>
                <small *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched" class="text-danger">Please Enter your Valid email address.</small>
                  
              </div>

              <div class="row">

                <div class="col-sm-12">
                  <p class="text-left">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">Submit</button>
                  </p>
                </div>
              </div>


            </form>

          </div>



        </div>

      </div>

    </div>
  </div>
</section>